@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-border {
  border-width: 5px;
  border-color: #3490dc; /* Blue */
}
.custom-border li{
    width: 445px;

}

.card {
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px;     /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 16px;          /* Inner spacing */
  background-color: #fff; /* White background */
  margin: 16px;           /* Adds spacing between cards */
  width: 455px;
  display: inline-table;
  text-align: center;
}

